.menu{
    display: flex;
}

.img-instagram{
    width: 11%;
}

.navbar-space{
    justify-content: space-between;
}

ul.navbar-nav:nth-child(1) {
    padding-left: 10%;
    }

.btn-primary{
    background-color: #308755 !important;
    border-color: #308755 !important;
}

a.dropdown-item:nth-child(5) {
    color: indianred;
    }

.dropdown {
    background-color: gray;
    border-radius: 5px;
}

.fa-solid {
    color: #fff;
}

.nav-tabs {
    justify-content: center;
    }

div.container{
    margin-top: 2%;
    }

@media screen and (min-width: 1919px){
    ul.navbar-nav:nth-child(1) {
        padding-left: 60%;
    }
}